.inicio {
  margin: 20px auto;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 800px;
  background-color: #f8f8f8;
}

.titulo {
  color: #00070e;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.text {
  font-size: 1.1em;
  color: #070707;
  line-height: 1.6;
  text-align: center;
}

.ods-section {
  margin-top: 20px;
}

.ods-titulo {
  font-size: 1.4em;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}

.ods-lista {
  list-style-type: none;
  padding-left: 0;
}

.ods-lista li {
  margin-bottom: 10px;
  font-size: 1em;
  color: #333;
  line-height: 1.5;
  text-align: left;
}

.btn-analizar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.ods-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.ods-item {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 10px;
  /* Añadido margen para separar las imágenes */
}

.ods-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  /* Bordes redondeados en la imagen */
  transition: transform 0.3s;
  /* Transición suave para el hover */
}

.ods-item img:hover {
  transform: scale(1.05);
  /* Efecto de zoom al pasar el puntero sobre la imagen */
}

.ods-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.tooltip {
  position: absolute;
  bottom: 110%;
  /* Colocar la ficha encima de la imagen */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #333333;
  padding: 15px;
  border-radius: 8px;
  /* Bordes redondeados */
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra suave */
  width: 220px;
  /* Ancho de la ficha */
  text-align: justify;
  /* Justificar el texto dentro de la ficha */
  z-index: 1000;
  font-size: 13px;
  line-height: 1.4;
  /* Espaciado entre líneas */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* Transición para la aparición */
}

.ods-item:hover .tooltip {
  opacity: 1;
  /* Mostrar la ficha al pasar el puntero sobre la imagen */
}

.tooltip::before {
  /* Texto predeterminado */
  font-size: 12px;
  color: #666;
  display: block;
  margin-bottom: 10px;
  /* Espacio entre el texto predeterminado y la información específica */
}
