body {
  margin: 3em;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: linear-gradient(to bottom, #93b995, #2e7d32);
  justify-content: center;
  align-items: center;
}

.App-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-link {
  font-size: 20px;
  color: #f7f6f6;
  text-decoration: none;
  text-align: center;
  padding: 20px;

}

.App {
  text-align: center;
  width: 100%;
  max-width: 800px;
}